.DS_Store
node_modules/
dist/
.parcel-cache/

# React
package-lock.json


# CSS Natours
/css/advanced-css-and-sass/Natours/starter/css/style.*

# CSS Trillo
/css/advanced-css-and-sass/Natours/starter/css/style.*