.DS_Store
node_modules/
dist/
.parcel-cache/

# React
package-lock.json


# CSS Natours
/css/advanced-css-and-sass/Natours/starter/css/style.*
/css/advanced-css-and-sass/Natours/starter/css/style-*

# CSS Trillo
/css/advanced-css-and-sass/Trillo/starter/css/style.*
/css/advanced-css-and-sass/Trillo/starter/css/style-*

# build web large size file   
/css/build-responsive-web/theory-lectures-v2-best.pdf
/css/build-responsive-web/theory-lectures-v2-smaller.pdf