.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
    
    & .copyright{
        font-size: 1.4rem;
        color: $color-grey-light-2;
        text-align: center;
        margin-top: 5.5rem;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
}

.nav {
    width: 90%;
    margin: 0 auto;
    list-style: none;

    display: grid;
    // grid-template-columns: repeat(6, 10vw);
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    column-gap: 2rem;

    align-items: start;
    justify-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.6rem;
    
    text-align: center;
    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: #fff;
        transition: all 0.3s;
        font-family: $font-display;
        text-transform: uppercase;
    }

    &__item {
        padding: 1rem;
        transition: all 0.3s;
        &:hover {
            background-color: rgba($color: rgb(85, 80, 80), $alpha: 0.5);
            transform: translateY(-1rem);
        }
    }
}
