.App {
  font-family: sans-serif;
  text-align: left;
}

.tip,
.bill {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.total {
  font-size: 1.5rem;
  font-weight: 600;
}

.reset {
  padding: 0.5rem 1.5rem;
}
